<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
  <h1>Sobre</h1>
</section>

<section class="content">
  <p class="lead">
    Galion Rolamentos
  </p>
  <p class="lead">A Galion Rolamentos está distribuindo qualidade com eficiência desde 1997.</p>
  <p class="lead">Com profissionais especializados no setor, a Galion fornece produtos de altíssima qualidade das melhores marcas.</p>
  <p class="lead">
    A Galion possui excelência em atendimento e a mais completa linha de rolamentos, buchas e mancais.</p>
</section>
<!-- FIM DO CONTEÚDO -->
