<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
  <h1>Sobre</h1>
</section>

<section class="content">
  <p class="lead">
    Galion Rolamentos S/A
  </p>
  <p class="lead">A Galion Rolamentos S/A está distribuindo qualidade com eficiência desde 1999.</p>
  <p class="lead">Com profissionais especializados no setor, a Galion fornece produtos de altíssima qualidade das melhores marcas.</p>
  <p class="lead">
    A Galion possui excelência em atendimento e a mais completa linha de rolamentos, mancais, retentores adesivos Threebond, correntes e engrenagens, correias e polias, lubrificantes, Molykote, graxas, rodas e rodízios.</p>
</section>
<!-- FIM DO CONTEÚDO -->
