<a href="#">
  <div class="place-info-box">
    <span class="place-info-box-icon"><img [src]="produtoModel.imagePath" /></span>

    <div class="place-info-box-content">
      <span class="place-info-box-text">{{produtoModel.name}}</span>
      <span class="place-info-box-star"><i class="fa fa-star"></i>{{produtoModel.category}}</span>
      <span class="place-info-box-detail">{{produtoModel.about}}</span>
      <span class="place-info-box-detail">{{produtoModel.linha}}</span>
    </div>
    <!-- /.info-box-content -->
  </div>
</a>
