<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
</section>

<section class="content">

  <div align="center">
    <h1>Bem vindo a Galion Rolamentos!</h1>
    <!--<a class="btn btn-primary btn-lg" [routerLink]="['/produtos']">Ver Nossos Produtos</a>-->
  </div>

  <div>
    <h2>ROLAMENTOS EM GERAL</h2>

    <h3>Industrial</h3>
    <div class="lead">
      <p>Os rolamentos industriais podem ser aplicados em diversos segmentos da indústria, abrangendo desde segmentos simples,
        a mineração e petroquímica, papel e celulose, o segmento alimentício e indústrias em geral. Sempre aplicados nos maquinários,
        os rolamentos industriais funcionam como um mecanismo utilizado para guiar um movimento de rotação com a finalidade de reduzir o atrito de deslizamento e,
        dessa forma, diminuir as perdas de energia.</p>
      <img src="assets/img/home/industria2.jpg" width="960px" />
      <p>No maquinário, o arranjo de rolamentos industriais pode ser feito de vários modos,
        sendo comum utilizar dois rolamentos industriais espaçados a certa distância.
        Os rolamentos em geral industriais podem ser alojados numa mesma caixa ou em duas caixas separadas,
        a escolha deve ser feita a partir do projeto da máquina e na viabilidade de empregar caixas menos onerosas.</p>
    </div>

    <h3>Agrícola</h3>
    <div class="lead">
      <p>Em meio à crescente insegurança alimentar em algumas partes do mundo,
        as máquinas agrícolas podem desempenhar um papel importante para ajudar atingir de forma eficiente os rendimentos estáveis de produção agrícola.
        Vários tipos de implementos agrícolas são utilizados dependendo das condições ambientais e a maneira como a colheita é feita em um determinado país ou região.</p>
      <img src="assets/img/home/agricola2.jpg" width="960px" />
      <p>Os rolamentos em geral são usados em diversos componentes do trator como motor, transmissão, cubos de rodas,
        sob condições de exposição a sujeira, como barro, e com capacidade de carga pesada.
        Além disso, alguns tratores e implementos usados em vastos campos de algumas fazendas no Brasil, na Europa e na América do Norte, são enormes,
        o que impõe severas exigências aos rolamentos. É sob essas duras condições de trabalho que os clientes esperam que os rolamentos sejam altamente confiáveis,
        oferecendo desempenho de custo superior.</p>
      <!--<p>Fonte: http://www.nsk.com.br/Artigo.asp?Aid=283</p>-->
      <img src="assets/img/home/dynapac.jpg" width="960px" />
      <img src="assets/img/home/muller.jpg" width="960px" />
      <img src="assets/img/home/randon.jpg" width="960px" />
      <img src="assets/img/home/caterpillar.jpg" width="960px" />
      <img src="assets/img/home/tematerra.jpg" width="960px" />
    </div>

  </div>
</section>
<!-- FIM DO CONTEÚDO -->
