<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
</section>

<section class="content">

  <div align="center">
    <h1>Bem vindo a Galion Rolamentos!</h1>
    <!--<a class="btn btn-primary btn-lg" [routerLink]="['/produtos']">Ver Nossos Produtos</a>-->
  </div>

  <div>
    <h2>ROLAMENTOS EM GERAL</h2>

    <h3>Industrial</h3>
    <div class="lead">
      <p>Os rolamentos industriais podem ser aplicados em diversos segmentos da indústria, abrangendo desde segmentos simples,
        a mineração e petroquímica, papel e celulose, o segmento alimentício e indústrias em geral. Sempre aplicados nos maquinários,
        os rolamentos industriais funcionam como um mecanismo utilizado para guiar um movimento de rotação com a finalidade de reduzir o atrito de deslizamento e,
        dessa forma, diminuir as perdas de energia.</p>
      <img src="assets/img/home/industria2.jpg" width="960px" />
      <p>No maquinário, o arranjo de rolamentos industriais pode ser feito de vários modos,
        sendo comum utilizar dois rolamentos industriais espaçados a certa distância.
        Os rolamentos em geral industriais podem ser alojados numa mesma caixa ou em duas caixas separadas,
        a escolha deve ser feita a partir do projeto da máquina e na viabilidade de empregar caixas menos onerosas.</p>
    </div>

    <h3>Agrícola</h3>
    <div class="lead">
      <p>Em meio à crescente insegurança alimentar em algumas partes do mundo,
        as máquinas agrícolas podem desempenhar um papel importante para ajudar atingir de forma eficiente os rendimentos estáveis de produção agrícola.
        Vários tipos de implementos agrícolas são utilizados dependendo das condições ambientais e a maneira como a colheita é feita em um determinado país ou região.</p>
      <img src="assets/img/home/agricola2.jpg" width="960px" />
      <p>Os rolamentos em geral são usados em diversos componentes do trator como motor, transmissão, cubos de rodas,
        sob condições de exposição a sujeira, como barro, e com capacidade de carga pesada.
        Além disso, alguns tratores e implementos usados em vastos campos de algumas fazendas no Brasil, na Europa e na América do Norte, são enormes,
        o que impõe severas exigências aos rolamentos. É sob essas duras condições de trabalho que os clientes esperam que os rolamentos sejam altamente confiáveis,
        oferecendo desempenho de custo superior.</p>
      <!--<p>Fonte: http://www.nsk.com.br/Artigo.asp?Aid=283</p>-->
    </div>

    <h3>Automotivo</h3>
    <div class="lead">
      <h4>Duas Rodas (Motocicletas)</h4>
      <p>Um grande número de rolamentos são usados em motocicletas. Os números reais podem variar dependendo do modelo e de outros fatores estruturais,
        mas uma motocicleta terá entre 20 e 30 rolamentos.  Estes rolamentos são utilizados nas principais peças giratórias, suportando a operação da moto,
        incluindo o motor, a transmissão e rodas. Eles ajudam a reduzir o atrito e a garantir que a força motriz do motor seja transmitida de forma confiável para as rodas.</p>
      <img src="assets/img/home/motocicleta.jpg" width="960px" />
      <p>As funções exigidas nos rolamentos de motocicleta incluem uma operação suave devido ao baixo atrito e vibração, garantindo a durabilidade.
        Esses fatores têm uma influência sobre o consumo de combustível e segurança, o que tem uma estreita relação com nossas vidas.
        As motocicletas tornaram-se populares em todo o mundo como uma forma conveniente de transporte, e onde elas são encontradas sempre haverá rolamentos em funcionamento.</p>
      <!--<p>Fonte: <a href="http://www.nsk.com.br/Artigo.asp?Aid=109">http://www.nsk.com.br/Artigo.asp?Aid=109</a></p>-->

      <h4>Quatro Rodas (Passeio, Utilitários e Pesados)</h4>
      <p>Um número surpreendentemente grande de rolamentos pode ser encontrado a nossa volta. Veja os automóveis, por exemplo: existem 100-150 rolamentos em um carro comum.
        Sem rolamentos as rodas seriam iram vibrar muito, os dentes da engrenagem de transmissão não seriam capazes de girar e o carro não iria andar suavemente.
        Os rolamentos melhoram a funcionalidade das máquinas e ajudam a economizar energia.</p>
      <img src="assets/img/home/automotivo.jpg" width="960px" />
      <p>Eles também fazem o seu trabalho silenciosamente, em ambientes difíceis, escondidos em máquinas onde não podemos vê-los.
        No entanto, os rolamentos em geral são cruciais para o funcionamento estável de máquinas e para garantir seu desempenho,
        eles estão presentes em muitos componentes nos veículos como, embreagem, roda, cambio, diferencial, sistema de distribuição, compressor, etc.</p>
    </div>

  </div>
</section>
<!-- FIM DO CONTEÚDO -->
